<form action="/home/<%=params[:id] %>" method="post">
  <p>
    <label for="contact_name">Name:</label>
    <input name="contact_name"  type="text" value="<%=@contact[:name]%>">
  </p>
  <p>
    <label for="contact_phone">Phone:</label>
    <input name="contact_phone" type="text" value="<%=@contact[:phone]%>">
  </p>
  <p>
    <label for="contact_email">Email:</label>
    <input name="contact_email" type="text" value="<%=@contact[:email]%>">
  </p>
    <input type="submit" value="Save">
    <a href="/home">Cancel</a>

</form>
